# Jekyll build output
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby
.bundle/
Gemfile.lock

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

